snippet "print|pr" "Visual print()"  br
print("${1:${VISUAL:Enter text to be printed here}}")$0
endsnippet

snippet "printf|prf" "Visual print()"  br
print(f"${1:${VISUAL:Enter text to be printed here}}")$0
endsnippet

snippet v" "Surround text with inverted commas" 
"${VISUAL}"$0
endsnippet
