pat
.alacritty.yml.bak
.aqbanking/
.aspell.en.prepl
.aspell.en.pws
.atom/
.bash_history
#.bash_logout
#.bash_profile
#.bashrc
#br10.xml
.buoh/
.byobu/
.cache/
.calcurse/
Calibre Library/
#.cddb/
#.colors
#colors-256.sh*
#.config/
#configs.sh*
.conky/
.cpan/
#.crontab
.cups/
curate_pics.sh*
Desktop/
.dir_colors
.directory
#Documents/
Downloads/
.dropbox/
Dropbox/
.dropbox-dist/
#.emacs.d/
.esd_auth
.face
.face.icon
.fehbg*
.fonts/
#.fonts.conf
#.functions.sh
.fzf/
#.fzf.bash
#.fzf.zsh
#gb_cz_de
#.gdbinit
#.gem/
.git/
.git-completion.bash
#.gitconfig
.git-credentials
#.gitignore
.gitignore.bak
#global_kwin.kksrc
.gnome/
.gnupg/
.gphoto/
.gtk-bookmarks
.gtkrc-2.0
.gtkrc-2.0-kde4
#.gvimrc
.histfile
.hplip/
#.i3status.conf
.ICEauthority
.icons/
.idlerc/
#ignorefiles
#.inputrc
.ipython/
.java/
junk/
.jupyter/
.kde4/
.kite/
#.konsole.css
#krohnkite_keys.kksrc
#.less_colours.sh
.lesshst
#.local/
lua-language-server/
.lyx/
#.mailrc
.MakeMKV/
#.markdown.css
.mozilla/
.mplayer/
#.msmtp-gmail.gpg
.msmtp.log
#.msmtprc
Music/
#mykeys.khotkeys
.node_repl_history
.npm/
.nv/
.nvimlog
#.p10k.zsh
.p10k.zsh.edited
package-lock.json
#phil_arch_install.sh
Pictures/
.pki/
.pulse-cookie
.PyCharmCE2018.2/
.pylint.d/
.pythonhist
.python_history
.rnd
#rsync_exclude
.screenlayout/
#.set_prompt.sh*
#Settings_RT-AX58U.CFG
.sqlite_history
src/
.ssh/
.subversion/
.svnqt/
.task/
.taskrc
.temp/
.themes/
.thumbnails/
.thunderbird/
#tj_nvim-cmp.lua
.undodir/
#us_cz
#us_eur_cz
Videos/
.vim/
.viminfo
#.vimrc
.vscode/
.w3m/
.wget-hsts
.Xauthority
.xbindkeysrc
#.Xmodmap
#.xprofile
.xscreensaver
.xsnowrc
.z
.zcompdump
#.zfuncs/
.zoom/
#.zprofile
#.zshrc
.zshrc.orig
*.PyCharmCE2018
*.pyc
