*
!.bash_logout
!.bash_profile
!.bashrc
!.crontab
!.emacs.d
.emacs
!.gvimrc
!.inputrc
!.msmtprc
!.nvimrc
!.vimrc
!README.md
!.gdbinit
!.gitconfig
!.gitignore
!.git-completion.bash
!.functions.sh
!desktop_notes.txt
!gb_cz_de
!handy_aliases.txt
!hosts.daffy
!mykeys.khotkeys
!.less_colours.sh
!.colors
!.set_prompt.sh
!.vim/ftplugin/*.vim
