akonadi/
akonadi_googlecalendar_resource_0/
akonadi_migration_agent/
app-info/
applications/
apps/
ark/
aurorae/
autocorrect/
autokey/
baloo/
broot/
calibre-ebook.com/
color-schemes/
contacts/
desktop-directories/
digikam/
discover/
dolphin/
elisa/
emailidentities/
epiphany/
evolution/
firenvim/
fish/
flatpak/
gegl-0.4/
#.gitignore
gnome-settings-daemon/
gnome-shell/
#gravatar/
gsettings-data-convert
gvfs-metadata/
gwenview/
icc/
icons/
JetBrains/
jupyter/
k3b/
kactivitymanagerd/
kaffeine/
kate/
kcharselect/
kcookiejar/
KDE/
kde5/
kded5/
kdenlive/
keyrings/
khelpcenter/
kile/
klipper/
kmail2/
kmplayer/
knewstuff3/
knotes/
konqueror/
konsole/
korganizer/
kpeople/
kpeoplevcard/
krita/
krita.log
krunnerstaterc
kscreen/
kservices5/
ktouch/
ktp/
kwalletd/
kwin/
kxmlgui5/
latte-layouts/
local-mail/
man/
marble/
mc/
Meltytech/
messageviewer/
mime/
nautilus/
#nvim/
#okular/
.org.chromium.Chromium.PDYIgf
phishingurl/
plank/
plasma/
plasma_engine_comic/
plasma_icons/
plasma_notes/
ptpython/
QMLPlayer/
qtile/
ranger/
RecentDocuments/
recently-used.xbel
remoteview/
scummvm/
sddm/
showfoto/
sounds/
stalefiles/
telepathy/
thumbnail.so/
tracker/
Trash/
ulauncher/
user-places.xbel
user-places.xbel.bak
user-places.xbel.tbcache
vifm/
vlc/
vulkan/
wallpapers/
webkitgtk/
xorg/
zathura/
zsh/
