snippet prd "Print with double quotes" b
print("${1:${VISUAL:DEFAULT TEXT}}")$0
endsnippet

snippet prs "Print with double quotes" b
print('${1:${VISUAL:DEFAULT TEXT}}')$0
endsnippet

snippet pr "Print with no quotes" b
print(${1:${VISUAL:DEFAULT TEXT}})$0
endsnippet
