./
../
akonadi/
akonadi_akonotes_resource_0rc
akonadi_contactrc
akonadi-firstrunrc
akonadi_googlecalendar_resource_0rc
akonadi_google_resource_0rc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akonadi-migrationrc
akregatorrc
#alacritty/
arkrc
Atom/
audexrc
autokey/
autostart/
autostart-scripts/
awesome/
baloofileinformationrc
baloofilerc
bashtop/
Bitwarden/
bluedevilglobalrc
bpython/
BraveSoftware/
broot/
calibre/
calibrerc
cef_user_data/
cfiles/
cheat/
chromium/
coc/
Code/
Code Industry/
configstore/
#conky/
conky-manager.json
darktable/
dconf/
device_automounter_kcmrc
Dharkael/
digikamrc
digikamrc.orig
digikam_systemrc
digikam_tagsmanagerrc
discoverrc
#dolphinrc
dragonplayerrc
drkonqirc
dxhd/
easytag/
Electron/
elisarc
emaildefaults
emailidentities
enchant/
entangle/
eog/
epiphany/
eventviewsrc
evolution/
fcitx/
filetypesrc
fish/
flameshot/
Florian_Hackenberger/
gconf/
ghb/
GIMP/
git/
#.gitignore
globalnotesettings
gnome-control-center/
gnome-session/
goa-1.0/
google-chrome/
google-musicmanager/
gtk-2.0/
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
headerthemeeditorrc
htop/
#i3/
#i3status/
ibus/
incidenceeditorrc
inkscape/
JetBrains/
k3brc
kactivitymanagerdrc
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kaffeinerc
kalarmrc
katemetainfos
katerc
kateschemarc
katesyntaxhighlightingrc
katevirc
kcharselectrc
kcminputrc
kcmsambarc
kconf_updaterc
KDE/
kdebugrc
kdeconnect/
kdeconnect.notifyrc
kded5rc
kdedefaults/
kdeglobals
kdenliverc
kde.org/
kdialogrc
kdiff3fileitemactionrc
keditbookmarksrc
kfileboxrc
kfontinstuirc
kfontviewrc
kgammarc
kglobalshortcutsrc
kgpgrc
khelpcenterrc
khotkeysrc
khtml/
kile-livepreview-okularpartrc
kilerc
kimtoyrc
kinfocenterrc
kio_camerarc
kiorc
kitenrc
klaunchrc
klipperrc
kmail2rc
kmailsearchindexingrc
kmenueditrc
kminesrc
kmixctrlrc
kmixrc
kmplayerrc
kmymoney/
knemorc
knotesrc
knotifyrc
konq_history
konquerorrc
konsolerc
konversationrc
korgacrc
korganizerrc
kritadisplayrc
kritarc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ktikzrc
ktimezonedrc
ktouch2rc
kvantum/
Kvantum/
kwalletmanager5rc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
latte/
lattedockrc
libaccounts-glib/
libfm/
libreoffice/
lo_kde5filepickerrc
lsd/
Mailspring/
mailtransports
Master PDF Editorrc
mc/
Meltytech/
menus/
mimeapps.list
monitors.xml
mpv/
nautilus/
neofetch/
nitrogen/
#nvim/
obs-studio/
okularpartrc
okularrc
org.kde.gwenviewrc
pamac/
pavucontrol.ini
pavucontrol-qt/
pcmanfm/
phishingurlrc
pimdataexporterrc
pipewire-media-session/
plank/
plasma_calendar_holiday_regions
plasma-localerc
plasma-nm
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
plasma-workspace/
plasma_workspace.notifyrc
#polybar/
powerdevilrc
powermanagementprofilesrc
print-manager
procps/
ptpython/
pulse/
qt5ct/
#qtile/
QtProject.conf
ranger/
RawTherapee/
rofi/
#scummvm/
sddmthemeinstallerrc
session/
showfotorc
signond/
smb4krc
soffice.binrc
specialmailcollectionsrc
spectaclerc
startupconfig
startupconfigfiles
startupconfigkeys
sublime-text-3/
systemd/
systemmonitorrc
systemsettingsrc
templatesconfigurationrc
trashrc
Trolltech.conf
ulauncher/
Unknown Organization/
user-dirs.dirs
user-dirs.locale
VIA/
vifm/
vlc/
vlcrc
webengineurlinterceptoradblockrc
xdg-desktop-portal-kderc
xm1/
xsettingsd/
yakuake.notifyrc
yakuakerc
yay/
yelp/
zathura/
zoomus.conf
